//vars
$main-font: "Lato", sans-serif;
$promotion-font: "Crete Round", Georgia, "Times New Roman", serif;
$starbucks-color: #006240;
$font-color: #3d3936;
$promotion-bg: #fdf4ea;

//Responsive Variables.
$breakpoints: (
  small: 0px,
  medium: 800px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

//Responsive Function
@mixin rwd($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media screen and (max-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $bp) {
      @content;
    }
  }
}
