.nav {
  &__toggler {
    position: absolute;
    bottom: -0.04rem;
    right: 0.25rem;
    z-index: 2;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    opacity: 0;
    display: none;

    @include rwd(medium) {
      display: block;
    }
  }

  &__hamburger {
    position: absolute;
    bottom: 0rem;
    right: 0;
    z-index: 1;
    width: 5.5rem;
    height: 5.5rem;
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      display: none;
      position: relative;
      width: 100%;
      height: 0.4rem;
      background-color: $starbucks-color;
      transition: all 400ms ease;

      @include rwd(medium) {
        display: block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: -1rem;
        width: 100%;
        height: 0.4rem;
        background-color: inherit;
      }

      &::after {
        top: 1rem;
      }
    }
  }
  &__toggler:checked + &__hamburger {
    background-color: black;
  }

  &__toggler:checked + &__hamburger > div {
    transform: rotate(135deg);
    background-color: white;

    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
    }
  }
}
