.hero {
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include rwd(medium) {
    width: 100%;
  }

  &__link {
    width: inherit;

    &--mobile {
      width: inherit;
    }
  }

  &__img {
    display: block;

    @include rwd(large) {
      width: 170rem;
    }

    &--mobile {
      width: inherit;
      display: block;
    }
  }

  &__drinks {
    display: block;

    @include rwd(large) {
      width: 170rem;
    }

    &--mobile {
      width: inherit;
      display: block;
    }
  }

  &__food {
    display: block;

    @include rwd(large) {
      width: 170rem;
    }

    &--mobile {
      width: inherit;
      display: block;
    }
  }

  &__queries {
    display: block;

    @include rwd(large) {
      width: 170rem;
    }

    &--mobile {
      width: inherit;
      display: block;
    }
  }
}
