.header {
  width: 100%;
  height: 10rem;
  border-top: 0.9rem solid $starbucks-color;
}

.nav {
  height: inherit;
  display: flex;
  justify-content: space-around;

  &__navbar {
    display: flex;
    align-items: flex-end;
    padding: 2rem 0;
  }

  &__logoImg {
    display: block;
    padding: 0 3.1rem;
    height: fit-content;
  }

  &__list {
    display: flex;
    align-items: flex-end;

    @include rwd(medium) {
      display: none;
    }
  }

  &__item {
    list-style: none;
    text-transform: uppercase;
  }

  &__link {
    font-size: 1.4rem;
    color: $font-color;
    padding: 1.5rem;
    transition: all 100ms ease-in-out;

    &:hover {
      background-color: $font-color;
      color: white;
    }
  }

  &__icon {
    color: $starbucks-color;
    font-size: 1.9rem;
    padding: 0 0.7rem;
  }

  &__mapMarker {
    height: 10rem;
    padding-top: 2rem;
    cursor: pointer;
    transition: all 200ms ease-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__mapDescription {
    font-size: 1.4rem;
    opacity: 0.7;
  }
}
