.promotion {
  width: 100%;
  height: 100%;
  background-color: $promotion-bg;
  display: flex;
  justify-content: center;

  &__grid {
    width: 100%;
    max-width: 1360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "description images";
    grid-gap: 2rem;
    padding: 2rem 8rem;

    @include rwd(medium) {
      grid-template-columns: 1fr;
      grid-template-areas: "images" "description";
    }
  }

  &__description {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    grid-area: description;

    @include rwd(medium) {
      justify-content: center;
      text-align: center;
      padding: 2rem;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    padding-bottom: 3rem;

    @include rwd(medium) {
      font-size: calc(1.3rem + 1vw);
    }
  }

  &__paragraph {
    font: {
      family: $promotion-font;
      style: italic;
      weight: 400;
      size: calc(1.3rem + 0.5vw);
    }
    padding-bottom: 3rem;

    @include rwd(medium) {
      font-size: calc(1.3rem + 0.5vw);
    }
  }

  &__link {
    color: black;
    border-bottom: 1px dotted black;
    margin-bottom: 1px;
    font: {
      size: 1.7rem;
      weight: 700;
      style: normal;
    }

    @include rwd(medium) {
      font-size: calc(1.3rem + 0.5vw);
    }
  }

  &__icon {
    font-size: 1.2rem;
  }

  &__images {
    width: fit-content;
    max-width: 100%;
    grid-area: images;
  }
}
