*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
    family: "Lato", sans-serif;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
